[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-toolbelt = "*"
span-marker = "*"
llama-index = "*"
streamlit = "*"
rank-bm25 = "*"
sentence-transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
